In [1]:
import requests
import json
from config import key
import pandas as pd
import numpy as np

In [2]:
lakes = pd.read_csv("Resources/lake_info/lake_information_clean.csv")
cpue = pd.read_csv("Resources/fish_catch_info/cpue_median_clean.csv")

In [3]:
city = "New Ulm"
params = {
    "city": city,
    "state": "MN",
    "country": "United States of America",
    "apiKey": key
}

In [4]:
base_url = "https://api.geoapify.com/v1/geocode/search"

In [5]:
response = requests.get(base_url, params=params).json()

In [6]:
lon = response["features"][0]["geometry"]["coordinates"][0]

In [7]:
lat = response["features"][0]["geometry"]["coordinates"][1]

In [8]:
def get_radians(coordinate):
    radian = coordinate*np.pi/180
    return radian

def get_distance(lat1, lon1, lat2, lon2):
    distance = np.arccos(np.sin(get_radians(lat1))*np.sin(get_radians(lat2)) + \
                         np.cos(get_radians(lat1))*np.cos(get_radians(lat2)) * \
                         np.cos(get_radians(lon2)-get_radians(lon1)))*3958.8
    return distance

In [46]:
travel = 15
closeby = lakes.loc[get_distance(lat, lon, lakes["Latitude"], lakes["Longitude"]) < travel]

In [47]:
closeby

,Lake ID,Lake Name,Lake County,Nearest Town,Lake Area,Littoral Area,Lake Depth,Mean Depth,Water Access Sites,Longitude,Latitude
595,7012500,Armstrong,Blue Earth,Butternut,0.00,0.00,0.0,0.0,[],-94.344356,44.152936
608,7012400,Lieberg,Blue Earth,Butternut,0.00,0.00,0.0,0.0,[],-94.312602,44.153189
624,8002900,Bachelor,Brown,Stark (Brown),0.00,0.00,0.0,0.0,[],-94.652755,44.255924
626,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424
627,8001300,Domeier,Brown,Stark (Brown),0.00,0.00,0.0,0.0,[],-94.548342,44.246877
628,8002600,Hanska,Brown,Hanska,1794.97,1773.00,16.0,4.5,"['was01418', 'was02762', 'was01425']",-94.619124,44.137006
631,8001000,Omsrud,Brown,Hanska,0.00,0.00,0.0,0.0,[],-94.546603,44.141747
632,8001900,Rolloff Slough,Brown,Essig,0.00,0.00,0.0,0.0,[],-94.557510,44.328364
633,8001400,School,Brown,Stark (Brown),0.00,0.00,0.0,0.0,[],-94.561639,44.245423
634,8004500,Sleepy Eye,Brown,Sleepy Eye,240.82,203.00,21.0,7.0,['was00212'],-94.728528,44.308025
637,8002700,Zanders,Brown,Stark (Brown),0.00,0.00,0.0,0.0,[],-94.634160,44.246873
3822,72008900,Clear,Sibley,Saint George,505.09,498.34,8.0,0.0,"['was01407', 'was01433']",-94.515877,44.455925
3827,52003700,Peterson,Nicollet,Poor Farm Landing,0.00,0.00,0.0,0.0,['was00806'],-94.273849,44.351823
3830,52003400,Swan,Nicollet,Poor Farm Landing,0.00,0.00,0.0,0.0,"['was00215', 'was00216', 'was00217']",-94.268958,44.310492
4550,72009500,Mud,Sibley,Gibbon,0.00,0.00,0.0,0.0,[],-94.511404,44.475044
4552,72006900,Sand,Sibley,Winthrop,0.00,0.00,0.0,0.0,['was00202'],-94.372700,44.497816
4557,72009300,Swan,Sibley,NaN,0.00,0.00,0.0,0.0,[],-94.600495,44.495666