In [71]:
import requests
import json
from config import key
import pandas as pd
import numpy as np

In [72]:
lakes = pd.read_csv("Resources/lake_info/lake_information_clean.csv")

In [73]:
city = "New Ulm"
params = {
    "city": city,
    "state": "MN",
    "country": "United States of America",
    "apiKey": key
}

In [74]:
base_url = "https://api.geoapify.com/v1/geocode/search"

In [75]:
response = requests.get(base_url, params=params).json()

In [76]:
lon = response["features"][0]["geometry"]["coordinates"][0]

In [77]:
lat = response["features"][0]["geometry"]["coordinates"][1]

In [78]:
def get_radians(coordinate):
    radian = coordinate*np.pi/180
    return radian

def get_distance(lat1, lon1, lat2, lon2):
    distance = np.arccos(np.sin(get_radians(lat1))*np.sin(get_radians(lat2)) + \
                         np.cos(get_radians(lat1))*np.cos(get_radians(lat2)) * \
                         np.cos(get_radians(lon2)-get_radians(lon1)))*3958.8
    return distance

In [81]:
travel = 5
closeby = lakes.loc[get_distance(lat, lon, lakes["Latitude"], lakes["Longitude"]) < travel]

In [82]:
closeby

,Lake ID,Lake Name,Lake County,Nearest Town,Lake Area,Littoral Area,Lake Depth,Mean Depth,Water Access Sites,Longitude,Latitude
626,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424
632,8001900,Rolloff Slough,Brown,Essig,0.00,0.00,0.0,0.0,[],-94.557510,44.328364