In [17]:
import requests
import json
from config import key
import pandas as pd
import numpy as np

In [18]:
lakes = pd.read_csv("Resources/lake_info/lake_information_clean.csv")
cpue = pd.read_csv("Resources/fish_catch_info/cpue_median_clean.csv")

In [19]:
city = "New Ulm"
params = {
    "city": city,
    "state": "MN",
    "country": "United States of America",
    "apiKey": key
}

In [4]:
base_url = "https://api.geoapify.com/v1/geocode/search"

In [5]:
response = requests.get(base_url, params=params).json()

In [6]:
lon = response["features"][0]["geometry"]["coordinates"][0]

In [7]:
lat = response["features"][0]["geometry"]["coordinates"][1]

In [8]:
def get_radians(coordinate):
    radian = coordinate*np.pi/180
    return radian

def get_distance(lat1, lon1, lat2, lon2):
    distance = np.arccos(np.sin(get_radians(lat1))*np.sin(get_radians(lat2)) + \
                         np.cos(get_radians(lat1))*np.cos(get_radians(lat2)) * \
                         np.cos(get_radians(lon2)-get_radians(lon1)))*3958.8
    return distance

In [9]:
travel = 5
closeby = lakes.loc[get_distance(lat, lon, lakes["Latitude"], lakes["Longitude"]) < travel]

In [10]:
closeby

,Lake ID,Lake Name,Lake County,Nearest Town,Lake Area,Littoral Area,Lake Depth,Mean Depth,Water Access Sites,Longitude,Latitude
626,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424
632,8001900,Rolloff Slough,Brown,Essig,0.00,0.00,0.0,0.0,[],-94.557510,44.328364

In [20]:
results = closeby.merge(cpue, how="inner", on="Lake ID")

In [23]:
results = results.sort_values("CPUE", ascending=False)

,Lake ID,Lake Name,Lake County,Nearest Town,Lake Area,Littoral Area,Lake Depth,Mean Depth,Water Access Sites,Longitude,Latitude,species,CPUE
2,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,BLG,27.000
0,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,BLB,19.665
1,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,BLC,18.000
5,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,GSF,6.000
9,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,WAE,3.000
3,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,CAP,2.750
11,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,YEP,1.250
4,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,FHM,0.670
7,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,LMB,0.625
8,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,NOP,0.595
6,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,HSF,0.345
10,8001100,Clear,Brown,New Ulm,251.78,251.78,8.0,5.0,['was01420'],-94.520594,44.259424,WTS,0.330